//colors
$turbo:         #f9ca24 !default;
$beekeeper:     #f6e58d !default;
$midnight:      #222f3e !default;
$lueBayoux:     #576574 !default;
$WhiteSmoke:    #efefef !default;
$Periwinkle:    #C8D6E5 !default;
$CloudBurst:    #364453 !default;


//font
$font-eina: eina01-bolduploaded_file;

$font-camphor: Camphor_W01_Regular;

$font-eina-semi: eina_01_semiboldsemibold;