@font-face{
    font-family: Camphor_W01_Regular;
    src:url('/fonts/CamphorW01-Regular/CamphorW01Regular.ttf')
}
@font-face{
    font-family: eina01-bolduploaded_file;
    src:url('/fonts/Eina01-Bold/Eina01-Bold.woff2') format('woff2'),
    url('/fonts/Eina01-Bold/Eina01-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: eina_01_semiboldsemibold;
    src: url('/fonts/Eina01-SemiBold/Eina01-SemiBold.woff2') format('woff2'),
        url('/fonts/Eina01-SemiBold/Eina01-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}